body {
    margin: 0;
}
h1, h2, h3, h4, h5, h6, p, a, li, dd {
    font-family: 'Source Sans Pro', sans-serif;
    text-rendering: optimizeLegibility;
}


div[math-block] {
    margin-top: 20px;
    margin-bottom: 20px;
}

section.note-block * {
    font-size: 1em;
}

section.note-block > ul {
    margin-left: 20px;
}

section.note-block p {
    margin: 16px;
    padding-left: 24px;
    margin-left: 0;
}

section.note-block ul li p {
    padding-left: 0;
    margin: 0;
}

section.note-block > * {
    padding-left: 24px;
}

section.note-block img[block] {
    width: 100%;
    margin: 0;
    padding: 0;
}

section.note-block section.note-block {
    border: 1px solid #ababab;
    padding: 8px;
    margin: 8px;
}

section.note-block:not([no-title]) > h1:first-child,
section.note-block:not([no-title]) > h2:first-child,
section.note-block:not([no-title]) > h3:first-child,
section.note-block:not([no-title]) > h4:first-child,
section.note-block:not([no-title]) > h5:first-child,
section.note-block:not([no-title]) > h6:first-child {
    border-bottom: 1px solid #bfbfbf;
    padding-left: 12px;
    margin: 0;
    padding-top: 12px;
    padding-bottom: 12px;
}

section.note-block {
    border: 1px solid #000;
    border-radius: 3px;
}

/* section.note-block > * {
    padding-left: 12px;
} */

body > h1,body > h2,body > h3,body > h4,body > h5,body > h6 {
    width: 100%;
    padding: 8px 0 8px 0;
    border-bottom: 1px solid #c1c1c1;
    margin-top: 28px;
    margin-bottom: 28px;
}

h1, h2, h3, h4, h5, h6, p, blockquote {
    font-size: 1.1em;
    line-height: 2em;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

li {
    line-height: 1.5em;
}

ul > li {
    margin-bottom: 10px;
}

ul > li:last-child {
    margin-bottom: 0;
}

blockquote {
    margin-top: 30px;
    margin-bottom: 30px;
    border-left: 4px solid #dadada;
    padding-left: 8px;
    color: #424242;
    font-weight: 200;
    font-size: 1em;
}

body > h1 {
    max-width: unset;
    text-align: center;
    background-color: #000;
    color: #fff;
    width: 100%;
}


div[toc] {
    width: 100%;
}

div[toc] > ul[toc] {
    margin: 0 auto;
    margin-top: 50px;
    margin-bottom: 50px;
    list-style: none;
    width: 100%;
    padding: 0;
}

div[toc] > ul[toc] > li[entry=h1] {
    font-size: 1.3em;
    border-bottom: 2px solid #cccccc;
}
div[toc] > ul[toc] > li[entry=h2] {
    font-size: 1.1em;
    border-bottom: 1px solid #dcdcdc;
}
div[toc] > ul[toc] > li[entry=h3] {font-size: 1em;}
div[toc] > ul[toc] > li[entry=h4] {font-size: 0.9em;}
div[toc] > ul[toc] > li[entry=h5] {font-size: 0.8em;}
div[toc] > ul[toc] > li[entry=h6] {font-size: 0.7em;}

div[toc] > ul[toc] a {
    text-decoration: none;
    font-size: inherit;
}

body > nav[side] {
    max-width: unset;
    margin: 0 auto;
    width: 100%;
    display: flex;
    flex-direction: column;
    margin: 0;
    border-bottom: 1px solid #c3c3c3;
    box-shadow: 0px 3px 4px #d8d8d8;
}

ul[toc] > li[entry='h1'] {margin-left: 0;}
ul[toc] > li[entry='h2'] {margin-left: 50px;}
ul[toc] > li[entry='h3'] {margin-left: 140px;}
ul[toc] > li[entry='h4'] {margin-left: 160px;}
ul[toc] > li[entry='h5'] {margin-left: 180px;}
ul[toc] > li[entry='h6'] {margin-left: 200px;}

p[error-block] {
    display: flex;
    flex-direction: column;
    color: #f00;
    justify-content: center;
    align-items: center;
    border: 1px solid #f00;
    margin: 12px;
}

p[error-block]:empty {
    display: none;
}


body > nav[side] > * {
    max-width: 900px;
    margin: 0 auto;
}

body > section.note-block {
    max-width: 900px;
    margin: 0 auto;
    margin-top: 20px;
    margin-bottom: 20px;
    width: 100%;
}

body > * {
    text-align: left;
    max-width: 900px;
    margin: 0 auto;
    width: 100%;
}

body > table {
    width: 100%;
}

body > table > tbody > tr > td > div[row] {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

body > img {
    align-self: center;
}


[img-row] {
    display: block;
}
img {
    margin: 0;
    padding: 0;
}


/* @media (max-width: 800px) {
    body > * {
        max-width: unset;
    }
} */


b, em {
    margin-left: 4px;
    margin-right: 4px;
}

/*# sourceMappingURL=https://colbyn.github.io/school-notes/styling.a0aa60b6.css.map */